.header {
  padding: 20px;
  text-align: center;
  font-size: 1rem; /*ask Marcell*/
  border-radius: 0 0 10px 10px;
}

.container--rainy .header {
  background-color: var(--color-sunny);
  color: var(--color-grayish);
}

.container--sunny .header {
  background-color: var(--color-green);
}
