:root {
  --color-rainy: rgb(63, 73, 127);
  --color-sunny: rgb(247, 192, 74);
  --color-cloudy: rgb(248, 245, 228);
  --color-green: rgb(83, 145, 101);
  --color-grayish: rgb(68, 68, 68);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
}

.container {
  color: var(--color-cloudy);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr 120px;
}

.container--sunny {
  background-color: var(--color-sunny);
}

.container--rainy {
  background-color: var(--color-rainy);
}

main {
  padding: 20px;
}
